<app-user></app-user>

<div>
  <h1>Que es Angular</h1>
  <p>
    Angular is a web framework that empowers developers to build fast, reliable
    applications. Maintained by a dedicated team at Google, Angular provides a
    broad suite of tools, APIs, and libraries to simplify and streamline your
    development workflow. Angular gives you a solid platform on which to build
    fast, reliable applications that scale with both the size of your team and
    the size of your codebase. Want to see some code? Jump over to our
    Essentials for a quick overview of what it's like to use Angular, or get
    started in the Tutorial if you prefer following step-by-step instructions.
    Before you start Like most modern frameworks, Angular expects you to be
    familiar with HTML, CSS and JavaScript. If you are totally new to frontend
    development, it might not be the best idea to jump right into a framework as
    your first step. Grasp the basics and then come back! Prior experience with
    other frameworks helps, but is not required. In addition, you should be
    familiar with the following concepts:
  </p>

  @defer (on viewport) {
    <app-coments></app-coments>
  } @placeholder {
    <p>Futuros comentarios</p>
  } @loading (minimum 1s) {
    <p>Cargando comentarios...</p>
  }
</div>
<!-- <router-outlet /> -->
